#account-manager {
    max-width: 1000px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #000; 
}

#account-manager h2 {
    color: #000;
    margin-top: 10px;
}

#form-options label {
    display: block;
    margin-bottom: 8px;
    color: #000;
}

#form-selector {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#form-selector:hover {
    border-color: #9b9b9b;
}

#account-form {
    max-width: 1000px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #000; 
}

#account-form form h3 {
    color: #000;
    margin-bottom: 8px;
}

#account-form label {
    color: #000;
    display: block;
    margin-bottom: 5px;
}

#account-form input,
#account-form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;

}

#account-form select:hover {
    border-color: #9b9b9b;
}

#account-form button {
    background-color: #000;
    border: 1px solid #000;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin-top: 5px; 
}

#account-form button:hover {
    background-color: #fff;
    color: black;
}
