body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
}

header {
    background-color: #ffffff;
    color: #000;
    padding: 20px;
    text-align: center;
}

#desktop-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 16px 250px 16px; 
}

#desktop-nav .logo {
    font-size: 30px;
    color: #000;
}

#desktop-nav ul.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#desktop-nav ul.nav-links li {
    display: inline-block;
    margin-right: 20px;
}

#desktop-nav ul.nav-links li:last-child {
    margin-right: 0; 
}

#desktop-nav ul.nav-links li a {
    text-decoration: none;
    color: #000;
}

#desktop-nav ul.nav-links li a:hover {
    text-decoration: underline;
}

#desktop-nav button {
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 10px; 
    cursor: pointer;
    width: 100px; 
}

#desktop-nav button:hover {
    background-color: #ffffff;
    color: #000000;
}


#trading-content {
    max-width: 450px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#trading-content h2 {
    color: #000;
}

#trading-content label {
    display: block;
    margin-bottom: 8px;
}

#trading-content input,
#trading-content select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#trading-content button {
    width: 100%;
    background-color: white;
    color: black;
    padding: 12px 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: auto;
    margin-bottom: 12px;
}

#trading-content button:hover {
    background-color: #000000;
    color: white;
}

#trading-content p {
    margin-top: 0px;
    margin-bottom: 10px;
}
