body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
}

header {
    background-color: #ffffff;
    color: #000;
    padding: 20px;
    text-align: center;
}

#desktop-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 16px 250px 16px; 
}

#desktop-nav .logo {
    font-size: 30px;
    color: #000;
}

#desktop-nav ul.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#desktop-nav ul.nav-links li {
    display: inline-block;
    margin-right: 20px;
}

#desktop-nav ul.nav-links li:last-child {
    margin-right: 0; 
}

#desktop-nav ul.nav-links li a {
    text-decoration: none;
    color: #000;
}

#desktop-nav ul.nav-links li a:hover {
    text-decoration: underline;
}

#desktop-nav button {
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 10px; 
    cursor: pointer;
    width: 100px; 
}

#desktop-nav button:hover {
    background-color: #ffffff;
    color: #000000;
}



#transactions-content div {
    font-weight: normal;
    margin: 20px auto;

}

#transactions-content {
    max-width: 1000px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#transactions-content h2 {
    font-size: 24px;
    color: #000;
    margin-bottom: 20px;
}

#transactions-content table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 10px;
}

#transactions-content th, #transactions-content td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

#transactions-content th {
    background-color: #ffffff;
}

#transactions-content tbody tr:nth-child(even) {
    background-color: #ffffff;
}

#transactions-content tbody tr:hover {
    background-color: #f6f6f6;
}

#transactions-content td:nth-last-child(3), #transactions-content th:nth-last-child(3) {
    padding-left: 25px;  
    max-width: 30px;  
}

#transactions-content td:nth-last-child(5), #transactions-content th:nth-last-child(5) {
    padding-left: 30px;  
    max-width: 50px;  
}


#transactions-content td:nth-last-child(2), #transactions-content th:nth-last-child(2) {
    padding-left: 30px;  
    max-width: 50px;  
}

#transactions-content td:last-child, #transactions-content th:last-child {
    text-align: right;
    padding-right: 50px;  
    max-width: 50px;   
}

.buy {
    color: green;
}

.sell {
    color: red;
}